:root {
    --karry: #FFE8D4;
    --coral: #F93943;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;

}

.logo {
    width: 300px;
    border-radius: 3px;
}

h1 {
    font-size: 80px;
    text-align: center;
    align-self: flex-end;
    font-family: Livvic, sans-serif;
    color:white;
    padding-right: 25px;
    font-weight: lighter;
}

nav{
    background-color: gray;
    padding-right: 70px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    
}

nav li {
    margin: 15px;
}

.link {
    text-decoration: none;
    color: black;
    font-family: Livvic, sans-serif;
}

.link:hover {
    color: var(--coral);
}

@media screen and (max-width: 816px) {
    header {
        justify-content: center;
    }

    h1 {
        margin-top: -60px;
        padding: 0px;
    }
}

@media screen and (min-width: 817px) and (max-width: 833px) {
    header {
        justify-content: center;
    }
    
}