:root {
    --viking: #7EB2DD;
    --karry: #FFE8D4;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--viking);

}

.logo {
    width: 300px;
    border-radius: 3px;
}

h1 {
    font-size: 100px;
    text-align: center;
    align-self: flex-end;
}

@media screen and (max-width: 1015px) {
    header {
        justify-content: center;
    }
}

@media screen and (min-width: 1016px) and (max-width: 1032px) {
    header {
        justify-content: center;
    }
}